/* Config général */
html, body{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.is-overflow-y-auto {
  overflow-y: auto;
}

/* Style border */
.is-border-1 {
  border: 1px solid #4F576066 !important;
}
.is-border-2 {
  border: 1px solid #E6E6E6 !important;
}

/* border-radius personnalisé */
.border-raduis-10{
  border-radius: 10px !important;
}
.border-radius-20{
  border-radius: 20px;
}

/* personnalisation des input */
.input, select, .select, .has-icons-left span.icon {
  height: 50px !important;
}
.control.has-icons-right{
  .icon.is-right{
    height: 50px !important;
  }
}
.field.has-addons{
  .control.indicatif-pays{
    margin-bottom: 0;
    select{
      width: 90px;
      border-bottom-left-radius: 10px !important;
      border-top-left-radius: 10px !important;
    }
  }
}
.input, .taginput .taginput-container.is-focusable, .textarea, .select select {
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}
.select-liste-enfant{
  select{
    width: 150px;
  }
}

/* alignement personnalisé */
.align-items-start{
  align-items: start !important;
}

.is-trunc {
  white-space: unset;
  width: 80%;
}

/* ************************************************************** */
.box-shadow-0{
  box-shadow: none;
}
.box-shadow-1{
  box-shadow: 0px 1px 4px $color-shadow;
}
.box-shadow-2{
  box-shadow: 0px 3px 10px #00000014;
}
.box-shadow-3{
  box-shadow: 0px 10px 20px #00000033;
}

.pos-illustr-2{
  position: absolute;
  right: 10px;
  top: -100px;
}

/* Tableau de bord */
#content-tableau-de-bord {
  overflow-y: auto;
}

.has-text-middle {
  vertical-align: middle !important;
}

th.checkbox-cell{
  vertical-align: middle !important;
}
td.checkbox-cell{
  vertical-align: middle !important;
}