.is-full{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.is-height-50p{
  height: 50%;
}
.is-height-100p-40px{
  height: calc(100% - 40px);
}
.is-height-100p-50px{
  height: calc(100% - 50px);
}
.is-height-100p{
  height: 100%;
}
.is-min-height-100p{
  min-height: 100%;
}

.is-height-70vh{
  height: 70vh;
}

/* *************************** */
.is-width-85{
  width: 85px;
}
.is-width-100{
  width: 100px;
}
.is-width-180{
  width: 180px;
}

/* *************************** */
.is-width-60p{
  width: 60%;
}
.is-width-100p{
  width: 100%;
}

/* *************************** */
.is-wh-50px{
  width: 50px !important;
  height: 50px !important;
}
.is-wh-85px{
  width: 85px !important;
  height: 85px !important;
}